* {outline: none;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
::-webkit-input-placeholder {
   text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}
::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}
:-ms-input-placeholder {  
   text-align: center; 
}

#mainContainer {max-width:800px;margin:0 auto;}
#salaryEntered {text-align: center; font-size: 30px;}
#salaryForm input {font-size: 50px;text-align: center;border: 0;font-weight: 700; max-width: 100%;background: transparent;}

.salaryBox {width: 50%; text-align: center; display: inline-block; margin: 10px auto; font-size: 20px;}
.salaryBox span {display: block; font-size: 24px;}
.salaryBox span.redNumbers {color: #FF0000;}
.jumbotron.pageTitle {text-align: center; padding: 10px 20px;}
.jumbotron.pageTitle h2 {font-size: 22px; font-weight: 300;}
.siteDescription {max-width: 800px;margin: 30px auto;font-size: 12px; padding: 0 20px;}
.siteLinks {text-align: center;}
.siteLinks ul {margin-top: 10px; padding: 0;}
.siteLinks ul li {list-style-type: none;display: inline-block;padding: 5px;border-right: 1px solid #000;line-height: 0;}
.siteLinks ul li.last {border: 0;}
.footer {margin-bottom: 60px;}



@media screen and (max-height: 500px) {
	.jumbotron.pageTitle {margin-bottom: 10px;}
	.jumbotron .h1, .jumbotron h1 {font-size: 30px !important;}
	.jumbotron h2 {font-size: 18px !important;}
	#salaryForm input {font-size: 24px}
}